<div class="min-h-screen">
  <div class="flex justify-center my-14">
    <div class="card w-[800px]  bg-neutral-content text-neutral-600">
      <div class="card-body p-10">
        <%= form_with(model: post, local: true) do |f| %>
          <div class="mb-8 flex justify-center">
            <% if f.object.new_record? %>
              <div class="text-xl font-bold">新規投稿</div>
            <% else %>
              <div class="text-xl font-bold">投稿編集</div>
            <% end %>
          </div>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="flex flex-col mt-5">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, placeholder: "スポット名や市町村名", class: "input input-bordered w-full", autocomplete: "off" %>
            <span class="text-xs text-right mt-1">必須</span>
          </div>
          <div class="flex flex-col mt-5">
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, placeholder: "県名から住所入力", class: "input input-bordered w-full", autocomplete: "off" %>
            <span class="text-xs text-right mt-1">必須（同じ住所は投稿できません）</span>
          </div>
          <div class="flex flex-col mt-5">
            <%= f.label :body, "コメント" %>
            <%= f.text_area :body, placeholder: "スポットの説明、おすすめポイント", class: "input input-bordered w-full textarea", autocomplete: "off" %>
            <span id="charCount" class="text-xs text-right mt-1">300文字まで</span>
          </div>
          <div class="flex justify-center mt-7">
            <%= f.submit (f.object.new_record? ? "投稿する" : "更新する"), class: "btn btn-success px-10 py-4 text-neutral-600" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
