<div class="flex justify-center items-center">
  <div class="px-10 py-5">
    <div class="flex items-center">
      <%= image_tag 'red.png', class: "w-6 h-6" %>を押しておすすめスポットを見てみよう！
    </div>
  </div>
</div>

<!-- Map表示 -->
<div id="map" class="w-auto h-[400px] sm:h-[800px]"></div>

<!-- モーダル表示 -->
<dialog id="post_modal" class="modal">
  <div class="modal-box w-[500px]">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <div class="post_show mt-4"></div>
  </div>
</dialog>

<script>
  // 地図を初期化する関数
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    // 地図のオプション
    const mapOptions = {
      center: { lat: 33.3202072, lng: 130.5018392 }, // 地図の初期表示位置（久留米）
      zoom: 8, // ズームレベル
      streetViewControl: false, // ストリートビューのボタン非表示
      mapTypeControl: false, // 地図、航空写真のボタン非表示
      fullscreenControl: false, // フルスクリーンボタン非表示
      keyboardShortcuts: false //キーボードショートカットオフ、キーボードボタン非表示
    };

    // 地図を指定した要素に表示
    const map = new google.maps.Map(mapElement, mapOptions);
    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      new google.maps.Marker({
        position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
        map: map,
        title: '<%= j post.title %>'
      });
    <% end %>

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      (() => {
        let firstTag = '<%= post.tags.first.name %>';

        let marker = new google.maps.Marker({
          position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>}, // 緯度経度
          map: map,
          title: '<%= j post.title %>'
        });

        // マーカーをクリックすると投稿詳細に遷移
        marker.addListener('click', function() {
          const modalContent = `
            <div>
              <p class="text-xl font-bold mb-3 mx-2"><%= post.title %></p>

              <div class="mb-5">
                <% post.tags.each do |tag| %>
                  <span class="badge badge-success gap-2"><%= tag.name %></span>
                <% end %>
              </div>

              <% if post.images.present? %>
                <div class="flex justify-center">
                  <div class="mb-5 mx-2">
                    <% first_image = post.images.first %>
                    <%= image_tag first_image.to_s, class: "w-[300px]" %>
                  </div>
                </div>
              <% end %>

              <% if post.body.present? %>
                <div class="mb-5 mx-2">
                  <p><%= post.body %></p>
                </div>
              <% end %>

              <div class="flex justify-end mx-2">
                <%= link_to "詳細へ", post_path(post), class: "btn btn-success font-medium" %>
              </div>
            </div>
          `;

          document.querySelector('.post_show').innerHTML = modalContent;
          post_modal.showModal();
        });
      })();
    <% end %>
  }
  // モーダルを閉じる
  document.addEventListener('click', function(event) {
    const modal = document.getElementById('post_modal');
    if (event.target === modal) {
      modal.close();
    }
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>
